header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #efefef;
  padding: 20px;
  margin-bottom: 20px;
}

header img {
  width: 50px;
}

.header_logo {
  font-size: 45px;
  font-weight: 900;
  padding-left: 110px;
  width: 150px;
  font-family: "Times New Roman", Times, serif;
}
